.filter {
  display: flex;
  gap: var(--space-sm);
  margin-top: var(--space-md);
}

.filter button {
  padding: var(--space-xs) var(--space-md);
  border-radius: 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-secondary);
  font-size: var(--font-sm);
}

.filter button.active {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

@media (min-width: 1024px) {
  .filter {
    justify-content: flex-start;
  }
}
